.signup {
  max-width: 700px;
  margin: 24px auto 0;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__submit {
    align-self: center;
  }
}

@media (max-width: 1024) {
  .signup {
    max-width: 100%;
  }
}
