@import 'theme';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.controls-container {
  display: flex;
  gap: 12px;
}

.bg-primary-50 {
  background-color: $bg-primary-50;
}

.primary {
  color: $primary;
}

@import '@angular/material/prebuilt-themes/indigo-pink.css';
